html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 71px;
  left: 167px;
  width: 141px;
  height: 119px;
}

.attention {
  padding-top: 16px;
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(270deg, #01A69C 0%, #77C67A 38.49%);
  box-shadow: 7.50393px 8.50445px 11.0058px rgba(0, 0, 0, 0.25), inset 4.50236px 5.00262px 8.50445px rgba(0, 0, 0, 0.25);
}

.attention-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
}

.navigation-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 425px;
  padding-right: 170.85px;
  padding-top: 23px;
  padding-bottom: 19px;
  background: #17171B;
  box-shadow: -1px 4px 23px rgba(0, 0, 0, 0.12);
}

.navigation-left {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-right: 52px;
}
.navigation-left a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.navigation-left a:hover, .navigation-left a:focus {
  color: #00D700;
}

.navigation-right {
  display: flex;
  flex-direction: row;
  margin-left: 45.15px;
  gap: 35px;
}

.form {
  position: relative;
}

.input {
  width: 797px;
  height: 55px;
  padding: 14px 22px;
  background-color: #28282D;
  border-radius: 5px;
  border: 0;
}
.input ::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #A7A7A7;
}

.input-button {
  position: absolute;
  top: 16px;
  right: 22px;
  height: 23px;
  width: 23px;
  background-color: transparent;
  border: 0;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 425px;
  padding-right: 171.3px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000000;
  box-shadow: 2px 10px 25px rgba(0, 0, 0, 0.5);
}

.categories-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-right: 115px;
}

.categories-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.categories-item:hover, .categories-item:focus {
  color: #00D700;
}

.categories-last {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  background: linear-gradient(108.45deg, #6B67FF -13.12%, #86FF86 88.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.categories-last:hover, .categories-last:focus {
  color: #00D700;
}

.networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 174.7px;
  height: 37px;
}

.slider {
  position: relative;
  width: 1920px;
  height: 528px;
  padding-top: 130px;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.slider-dot.active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1820px;
  margin: 0px auto 54px auto;
}

.slider-btn {
  background-color: transparent;
  width: 194px;
  height: 194px;
  border: 0;
}

.advantages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
  padding: 24px 0 24px 69px;
  margin-top: 55px;
  background: #17171B;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.container {
  background-color: #111113;
}

.offer {
  padding-left: 175px;
  padding-right: 174px;
  padding-top: 130px;
  padding-bottom: 201px;
}

.title-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 744px;
  margin-bottom: 50px;
}

.title-text {
  width: 700px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
  background: linear-gradient(265.19deg, #9130F4 15.63%, #6A67FF 24.89%, #86FF86 50.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.see-offers-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.see-offers-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
}
.see-offers-text:hover, .see-offers-text:focus {
  text-decoration: underline;
}

.more-offers-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-offers-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
}
.more-offers-text:hover, .more-offers-text:focus {
  text-decoration: underline;
}

.offers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1573px;
  height: 855px;
  row-gap: 39px;
  column-gap: 37px;
}

.offers-item-first {
  width: 285px;
  height: 407px;
  padding: 28px 28px 26px 29px;
  border-radius: 17px;
  background-image: url(../../images/violet-background.png);
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .offers-item-first {
    background-image: url(../../images/violet-background-2x.png);
  }
}

.offers-item-first h3 {
  margin-bottom: 23px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.offers-item-first p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 117.5%;
  color: #FFFFFF;
}

.offers-item-title-first {
  width: 227px;
  height: 166px;
  margin-bottom: 164px;
}

.offers-item {
  width: 285px;
  height: 407px;
  background: linear-gradient(180deg, #6C65FF 72.92%, #5E08B8 100%);
  border-radius: 17px;
}

.white-background {
  position: relative;
  width: 285px;
  height: 264px;
  border-radius: 17px;
  background-color: #fff;
  padding: 68px 34px 39px 38px;
}

.white-background-title {
  position: absolute;
  top: 0;
  left: 0;
}

.offers-item-description {
  padding-left: 17px;
  padding-top: 18.47px;
  padding-bottom: 17.86px;
}

.offers-item-title {
  margin-bottom: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.7%;
  color: #FFFFFF;
}

.offers-item-text {
  width: 241px;
  padding: 6.34px 9.51px;
  margin-bottom: 34px;
  background: rgba(24, 17, 100, 0.4);
  border-radius: 18.3822px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120.7%;
  color: rgba(255, 255, 255, 0.65);
}

.offers-item-information {
  display: flex;
  flex-direction: row;
  gap: 78px;
}

.new-price {
  margin-right: 11px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  color: #FFFFFF;
}

.old-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  text-decoration: line-through;
  color: #07B707;
}

.mark {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15.2128px;
  line-height: 15px;
  color: #C2C2C2;
}

.brands {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-left: 175px;
  padding-right: 175px;
  padding-bottom: 199px;
}

.brands-first-column {
  width: 759px;
  height: 605.67px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 28.75px;
  row-gap: 30.67px;
}

.brand-card {
  position: relative;
}

.brand-name {
  position: absolute;
  left: 25.87px;
  bottom: 24.38px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #FFFFFF;
}

.brands-second-column {
  width: 763px;
  height: 607px;
  border-radius: 34px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 44px;
  padding-left: 175px;
  padding-right: 175px;
  padding-bottom: 322px;
}

.card {
  position: relative;
}

.card-description {
  position: absolute;
  left: 45px;
  bottom: 40px;
  width: 325px;
  height: 136px;
}

.card-description.white {
  width: 257px;
  height: 135px;
}

.card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
}

.card-text.white {
  color: #FFFFFF;
}

.card-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
}

.card-link.white {
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */