html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 71px;
  left: 167px;
  width: 141px;
  height: 119px;
}

.attention {
  padding-top: 16px;
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(270deg, #01A69C 0%, #77C67A 38.49%);
  box-shadow: 7.50393px 8.50445px 11.0058px rgba(0, 0, 0, 0.25), inset 4.50236px 5.00262px 8.50445px rgba(0, 0, 0, 0.25);
}

.attention-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
}

.navigation-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 425px;
  padding-right: 170.85px;
  padding-top: 23px;
  padding-bottom: 19px;
  background: #17171B;
  box-shadow: -1px 4px 23px rgba(0, 0, 0, 0.12);
}

.navigation-left {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-right: 52px;
}
.navigation-left a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.navigation-left a:hover, .navigation-left a:focus {
  color: #00D700;
}

.navigation-right {
  display: flex;
  flex-direction: row;
  margin-left: 45.15px;
  gap: 35px;
}

.form {
  position: relative;
}

.input {
  width: 797px;
  height: 55px;
  padding: 14px 22px;
  background-color: #28282D;
  border-radius: 5px;
  border: 0;
}
.input ::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #A7A7A7;
}

.input-button {
  position: absolute;
  top: 16px;
  right: 22px;
  height: 23px;
  width: 23px;
  background-color: transparent;
  border: 0;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 425px;
  padding-right: 171.3px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000000;
  box-shadow: 2px 10px 25px rgba(0, 0, 0, 0.5);
}

.categories-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-right: 115px;
}

.categories-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.categories-item:hover, .categories-item:focus {
  color: #00D700;
}

.categories-last {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  background: linear-gradient(108.45deg, #6B67FF -13.12%, #86FF86 88.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.categories-last:hover, .categories-last:focus {
  color: #00D700;
}

.networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 174.7px;
  height: 37px;
}

.slider {
  position: relative;
  width: 1920px;
  height: 528px;
  padding-top: 130px;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.slider-dot.active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1820px;
  margin: 0px auto 54px auto;
}

.slider-btn {
  background-color: transparent;
  width: 194px;
  height: 194px;
  border: 0;
}

.advantages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
  padding: 24px 0 24px 69px;
  margin-top: 55px;
  background: #17171B;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.container {
  position: relative;
  background-color: #111113;
}

.help-icon {
  position: absolute;
  right: 43px;
  bottom: 43px;
}

.offer {
  padding-left: 175px;
  padding-right: 174px;
  padding-top: 130px;
  padding-bottom: 201px;
}

.title-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 50px;
}

.title-text {
  width: 700px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
  background: linear-gradient(265.19deg, #9130F4 15.63%, #6A67FF 24.89%, #86FF86 50.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.see-offers-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.see-offers-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}
.see-offers-text:hover, .see-offers-text:focus {
  text-decoration: underline;
}

.more-offers-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-offers-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
}
.more-offers-text:hover, .more-offers-text:focus {
  text-decoration: underline;
}

.offers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1573px;
  height: 855px;
  row-gap: 39px;
  column-gap: 37px;
}

.offers-item-first {
  width: 285px;
  height: 407px;
  padding: 28px 28px 26px 29px;
  border-radius: 17px;
  background-image: url(../../images/violet-background.png);
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .offers-item-first {
    background-image: url(../../images/violet-background-2x.png);
  }
}

.offers-item-first h3 {
  margin-bottom: 23px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.offers-item-first p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 117.5%;
  color: #FFFFFF;
}

.offers-item-title-first {
  width: 227px;
  height: 166px;
  margin-bottom: 164px;
}

.offers-item {
  width: 285px;
  height: 407px;
  background: linear-gradient(180deg, #6C65FF 72.92%, #5E08B8 100%);
  border-radius: 17px;
}

.white-background {
  position: relative;
  width: 285px;
  height: 264px;
  border-radius: 17px;
  background-color: #fff;
  padding: 68px 34px 39px 38px;
}

.white-background-title {
  position: absolute;
  top: 0;
  left: 0;
}

.offers-item-description {
  padding-left: 17px;
  padding-top: 18.47px;
  padding-bottom: 17.86px;
}

.offers-item-title {
  margin-bottom: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.7%;
  color: #FFFFFF;
}

.offers-item-text {
  width: 241px;
  padding: 6.34px 9.51px;
  margin-bottom: 34px;
  background: rgba(24, 17, 100, 0.4);
  border-radius: 18.3822px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120.7%;
  color: rgba(255, 255, 255, 0.65);
}

.offers-item-information {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 78px;
}

.new-price {
  margin-right: 11px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  color: #FFFFFF;
}

.old-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  text-decoration: line-through;
  color: #07B707;
}

.mark {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15.2128px;
  line-height: 15px;
  color: #C2C2C2;
}

.brands {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-left: 175px;
  padding-right: 175px;
  padding-bottom: 199px;
}

.brands-first-column {
  width: 759px;
  height: 605.67px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 28.75px;
  row-gap: 30.67px;
}

.brand-card {
  position: relative;
}

.brand-name {
  position: absolute;
  left: 25.87px;
  bottom: 24.38px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #FFFFFF;
}
.brand-name:hover, .brand-name :focus {
  text-decoration: underline;
}

.brands-second-column {
  width: 763px;
  height: 607px;
  border-radius: 34px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 44px;
  padding-left: 175px;
  padding-right: 175px;
  padding-bottom: 200px;
}

.card {
  position: relative;
}

.card-description {
  position: absolute;
  left: 45px;
  bottom: 40px;
  width: 325px;
  height: 136px;
}

.card-description.white {
  width: 257px;
  height: 135px;
}

.card-text {
  width: 325px;
  height: 88px;
  margin-bottom: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
}

.card-text.white {
  width: 257px;
  height: 87px;
  color: #FFFFFF;
}

.card-link-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
}

.card-link.white {
  color: #FFFFFF;
}

.deals {
  padding-left: 175px;
  padding-right: 172px;
  padding-bottom: 200px;
}

.deals-title-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 50px;
}

.deals-title-text {
  width: 436px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
  background: linear-gradient(85.96deg, #17943A 11.02%, #01C922 32.77%, #BAF068 64.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.see-deals-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.see-deals-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}
.see-deals-text:hover, .see-deals-text:focus {
  text-decoration: underline;
}

.more-deals-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-deals-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
}
.more-deals-text:hover, .more-deals-text:focus {
  text-decoration: underline;
}

.deals-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1573px;
  height: 857px;
  row-gap: 41px;
  column-gap: 37px;
}

.deals-item-first {
  width: 285px;
  height: 408px;
  padding: 28px 28px 25.5px 29px;
  border-radius: 17px;
  background-image: url(../../images/green-background.png);
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .deals-item-first {
    background-image: url(../../images/green-background-2x.png);
  }
}

.deals-item-first h3 {
  margin-bottom: 23px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: #000000;
}

.deals-item-first p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 117.5%;
  color: #000000;
}

.deals-item-title-first {
  width: 227px;
  height: 166px;
  margin-bottom: 164px;
}

.deals-item {
  width: 285px;
  height: 407px;
  background: linear-gradient(180deg, #2FC458 74.88%, #8FE859 95.27%);
  border-radius: 20.1228px;
}

.white-background {
  position: relative;
  width: 285px;
  height: 264px;
  border-radius: 17px;
  background-color: #fff;
  padding: 68px 34px 39px 38px;
}

.white-background-title {
  position: absolute;
  top: 0;
  left: 0;
}

.deals-item-description {
  padding-left: 17px;
  padding-top: 18.47px;
  padding-bottom: 17.86px;
}

.deals-item-title {
  margin-bottom: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100.7%;
  color: #000000;
}

.deals-item-text {
  width: 241px;
  padding: 6.34px 9.51px;
  margin-bottom: 34px;
  background: #BDEDBC;
  border-radius: 18.3822px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120.7%;
  color: rgba(0, 0, 0, 0.65);
}

.deals-item-information {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 78px;
}

.new-price.black {
  margin-right: 11px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  color: #000000;
}

.old-price.black {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  text-decoration: line-through;
  color: #000000;
}

.mark.black {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15.2128px;
  line-height: 15px;
  color: #000000;
}

.news {
  padding-left: 175px;
  padding-right: 177px;
  padding-bottom: 200px;
}

.news-title-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 50px;
}

.news-title-text {
  width: 583px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
  background: linear-gradient(85.96deg, #17943A 11.02%, #01C922 32.77%, #BAF068 64.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.more-news-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-news-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
}
.more-news-text:hover, .more-news-text:focus {
  text-decoration: underline;
}

.news-content {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.news-right {
  display: flex;
  flex-direction: column;
}

.news-left {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.block-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 447px;
}

.blog-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #A7A7A7;
}

.blog-text.first {
  width: 698px;
}

.blog-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 107%;
  color: #FFFFFF;
}

.news-right-card {
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.line {
  width: 760px;
  height: 2px;
  background-color: #28282D;
  margin-top: 60px;
  margin-bottom: 60px;
}

.partners {
  padding-left: 175px;
  padding-right: 175px;
  padding-bottom: 200px;
}

.partners-title {
  width: 848px;
  margin-bottom: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
  background: linear-gradient(85.96deg, #17943A 11.02%, #01C922 32.77%, #BAF068 64.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.partners-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.first-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 151px;
}

.second-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 147px;
}

.top-categories {
  padding-left: 175px;
  padding-right: 175px;
  padding-bottom: 200px;
}

.top-categories-title {
  width: 880px;
  margin-bottom: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
  background: linear-gradient(85.96deg, #17943A 11.02%, #01C922 32.77%, #BAF068 64.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.top-categories-list {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.top-categories-item {
  position: relative;
  width: 369px;
  height: 373px;
  border-radius: 29px;
}

.top-categories-link {
  position: absolute;
  left: 22px;
  top: 305px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #FFFFFF;
}
.top-categories-link:hover, .top-categories-link :focus {
  text-decoration: underline;
}

.footer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 78px;
  padding: 25px 176.5px 32px 175px;
  background: #17171B;
  box-shadow: 2px 10px 25px rgba(0, 0, 0, 0.5);
}

.footer-title h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.footer-form {
  position: relative;
  width: 500px;
  height: 55px;
}

.footer-input {
  width: 500px;
  height: 55px;
  background: #28282D;
  border-radius: 5px;
  border: 0;
  padding: 14px 159px 14px 22px;
}
.footer-input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #A7A7A7;
}

.footer-form-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 137px;
  height: 56px;
  padding: 17px 22px;
  border-radius: 6px;
  border: 0;
  background: #07B707;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
}

.footer-networks {
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.footer-main {
  background: linear-gradient(180deg, #000000 0%, #000000 100%);
  box-shadow: 6px -7px 66px rgba(0, 0, 0, 0.74);
}

.footer-main-first-line {
  display: flex;
  flex-direction: row;
  gap: 160.5px;
  padding: 36px 123.5px 13px 169px;
}

.footer-information-container {
  display: flex;
  flex-direction: row;
  gap: 161px;
}

.footer-information-title {
  margin-bottom: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-information-list {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer-information-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #A7A7A7;
}
.footer-information-item:hover, .footer-information-item :focus {
  text-decoration: underline;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
}

.footer-contact.call {
  margin-bottom: 11px;
}

.footer-information-title.call {
  margin-bottom: 0px;
}

.working-hours {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 45px;
}

.footer-main-second-line {
  padding: 0 175px 30px 176px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.footer-privacy-container {
  display: flex;
  flex-direction: row;
  gap: 19px;
}

.footer-privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  width: 433px;
}

.footer-privacy-first {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #A7A7A7;
}

.vertical-line {
  height: 19px;
  width: 1px;
  background-color: #A7A7A7;
}

.footer-privacy-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #A7A7A7;
}

.footer-payment {
  display: flex;
  flex-direction: row;
  gap: 7.71px;
}/*# sourceMappingURL=main.css.map */