.hidden {
  display: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 14px;
  background-color: #111113;

  @include desktop {
  gap: 200px;
  padding: 130px 175px 0 175px;
  }
}

body {
  background-color: #111113;
}