.header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 71px;
  left: 167px;

  width: 141px;
  height: 119px;
}

.attention {
  padding-top: 16px;
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(270deg, #01A69C 0%, #77C67A 38.49%);
  box-shadow: 7.50393px 8.50445px 11.0058px rgba(0, 0, 0, 0.25), inset 4.50236px 5.00262px 8.50445px rgba(0, 0, 0, 0.25);
}

.attention-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
}

.navigation-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-left: 425px;
  padding-right: 171px;
  padding-top: 23px;
  padding-bottom: 19px;

  background: #17171B;
  box-shadow: -1px 4px 23px rgba(0, 0, 0, 0.12);
}

.navigation-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;

  a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    color: #FFFFFF;

    &:hover,
    &:focus {
      color: #00D700;
    }
  }
}

.navigation-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
}

.form {
  position: relative;
  display: block;
  width: 797px;
}

.input {
  width: 100%;
  height: 55px;
  padding: 14px 22px;

  background-color: #28282D;
  border-radius: 5px;
  border: 0;

  ::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #A7A7A7;
  }
}

.input-button {
  position: absolute;
  top: 16px;
  right: 22px;

  height: 23px;
  width: 23px;

  background-color: transparent;
  border: 0;
}

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-left: 425px;
  padding-right: 171px;
  padding-top: 20px;
  padding-bottom: 20px;

  background: #000000;
  box-shadow: 2px 10px 25px rgba(0, 0, 0, 0.5);
}

.categories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.categories-item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;    
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  &:hover,
  &:focus {
    color: #00D700;
  }
}

.categories-last {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;

  background: linear-gradient(108.45deg, #6B67FF -13.12%, #86FF86 88.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  
  &:hover,
  &:focus {
    color: #00D700;
  }

}

.networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 175px;
  justify-content: space-between;
}