.slider {
  width: 100%;
  height: 216px;
  position: relative;
  background-color: #111113;

  @include desktop {
  height: 528px;
  padding-top: 130px;
  background-color: transparent;
  } 
}

// Slider mobile
.slider-image-mob {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 172px;

  @include desktop {
    display: none;
  }
}

.dots-mob {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 182px;

  @include desktop {
    display: none;
  }
}

.dot-mob {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #3F3C3C;
} 

.active-dot-mob {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #00D700;
}

// Slider desktop
.slider-image-desk {
  display: none;

  @include desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  }
}

.slider-dots {
  display: none;
  
  @include desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  }
}

.slider-dot.active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.buttons {
  display: none;
  
  @include desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px auto 54px auto;
  }
}

.slider-btn {
  background-color: transparent;
  width: 194px;
  height: 194px;
  border: 0;
}

// Advantages
.advantages {
  display: none;

  @include desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius: 9px;
  padding: 24px 0 24px 69px;
  margin-top: 55px;

  background: #17171B;
  }
}

.advantages-item {
  display: flex;
  flex-direction: row;
  gap: 12px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  text-transform: uppercase;
  color: #FFFFFF;
}